@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *));

@font-face {
    font-family: "monospace";
    src: url("/fonts/Monospace.ttf");
}

@theme {
  --color-primary: #25aff3;
  --color-primary-hover: #1796d4;
  --color-bg-dark: #0c0c0d;
  --color-text-dark: #f0f2f5;
  --color-text-muted-dark: #94a3b8;
  --color-surface-primary-dark: #131315;
  --color-surface-secondary-dark: #18181a;
  --color-surface-secondary-hover-dark: #242426;
  --color-border-dark: #27272a;

  --color-bg-light: #f8fafc; 
  --color-text-light: #0f172a; 
  --color-text-muted-light: #64748b; 
  --color-surface-primary-light: #ffffff; 
  --color-surface-secondary-light: #f1f5f9; 
  --color-surface-secondary-hover-light: #e2e8f0;
  --color-border-light: #e5e7eb;
  
  --font-code: "monospace";
  
  --breakpoint-xs:30rem;
}


.scroller::-webkit-scrollbar{
  width: 5px;
}
.scroller::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #0d8ccb93 ;
  border-radius: 10px ;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
.scroller::-webkit-scrollbar-thumb:hover{
  background-color: #1796d4 ;
}
.scroller::-webkit-scrollbar-track{
  padding: 4px;
  background: transparent;
}